/* Overskrive default styling */
body {
  margin: 0px;
}

/* Bespoke syling */
.navbar {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  display: flex;
  justify-content: space-between;
}
